* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
body{
    background-color: #f5f5f5;
}
.content {
    margin: 0;
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;

}

a {
    color: #292929;
    text-decoration: none;
}

ol, ul > li {
    list-style: none;
}

.ol-content > li {
    float: left;
}

/*头部 start*/
.nav-header {
    width: 100%;
    height: 65px;
    background-color: #292929;
}

.logo {
    float: left;
    width: 152px;
    height: 45px;
    background: url("../images/logo-live-white.png") no-repeat;
    margin: 10px 0;
}

.t-title {
    float: right;
    height: 65px;
    color: #fff;

}

/*头部结束*/

/*展示列表项开始*/
.item {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #999999;
    overflow: hidden;

}
.item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}
.i-author span:hover{
    text-decoration: underline;
}

.item_l {
    margin-left: 15px;
    float: left;
    width: 80%;
    height: 100%;
    position: relative;
}

.item_r {
    height: 100%;
    float: right;
    margin-right: 15px;
    overflow: hidden;
}
.item_r img{
   margin-top: 10px;
    border-radius: 2px;
    width: 152px;
    height: 104px;
}


.a-summary {

}
.sub-title {
    color: rgba(0, 0, 0, 0.54);
    margin: 5px 0;
    font-size: 16px;
    line-height: 20px;
}

.title-b {
    margin-top: 20px;
}

.title-b .i-author {
    height: 20px;
    color: #292929;
    font-size: 12px;
    line-height: 20px;

}

.title-b .i-time {
    color: #757575;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
/*展示列表项结束*/

/*右侧筛选模块开始*/
.category{
    width: 100%;
    margin-top: 15px;

}
.category  .c-important{
    height: 120px;
    background-color: #292929;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    line-height: 120px;
    font-size: 35px;


}
.category .c-category {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
    box-shadow: 0px 1px 1px #cecece;
}
.c-category .title-info{
    height: 45px;
    font-size: 16px;
    padding-left: 9px;
    line-height: 45px;
    color: #000000;
    border-bottom: 1px solid #ff4d3a;
}
.c-category .category-content{
    padding: 20px 0 0 20px;
}
.c-category .category-content ul li{
    list-style: none;
    float: left;
    border: 1px solid #e1e1e1;
    padding: 6px 8px;
    font-size: 12px;
    color: #383838;
    margin-right: 14px;
    margin-top: 10px;
}
.category #c-blog{
    padding-bottom: 0px;

    box-shadow: 0px 1px 1px #cecece;
}
.c-category .category-blog ul li {
    padding-bottom: 3px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    padding-left: 20px;
    color: #666666;
    border-bottom: 1px solid #e1e1e1;

}
.c-category .category-blog ul li:last-child{
    padding-bottom: 0px;
    border-bottom: none;
}

/*右侧筛选模块结束*/

footer{
    clear: both;
    margin-top: 300px;
    background-color: #292929;
    height: 100px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
}