/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}



table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}
.wraper{
	position: absolute;
	padding-bottom: 80px;
}



/*搜索*/
.search{
	margin: 5px 12px; 
}
.search-text{
	color: #fff;
	background:#0850D0; 
}

.card-item {
	margin: 8px;
	padding: 8px;

}
.new-task{
	background: #E3E3E3;
	padding: 8px;
}
.rightarrow{
	float: right;
}
/*轮播图*/

.image-banner{
	width: 100%;
	height: 50px;
}

/*卡片布局*/
.newadd{
	margin-top: 8px;
}
.item-container{
	margin-top: 5px;
}
.item-container li{
	border-bottom:  solid 1px #cecece;
}
.card-item img{
	float: left;
	width: 100%;
	height: 80px;
	margin-right: 8px;
}
.item-left{
	float: left;
	width: 30%;
}
.item-right{
	float: left;
	width: 70%;
}

.item-container h3{
	font-size: 14px;
	padding-left: 5px;
	margin-top: 5px;
}
.item-time{
	margin-left: 7px;
	padding-top: 5px;
	line-height: 14px;
	color: #C5C5C5;
	font-size: 12px
}
.item-summary{
	line-height: 18px;
	padding: 5px;
	color: #6C6C6C;
	font-size: 14px;
}
/*footer*/
.foot{
	height: 20px;

}
.foot-bar-div{
	width: 20%;
	line-height: 35px;
	text-align: center;
}
.foot-bar-div div{
	margin-top: 5px;
}
.foot-bar-div a{
	padding-top: 5px;
	text-decoration: none;
	font-size: 14px;
	color: #9A9A9A;
}
.activenow a{
	color: #0850D0;
}

/*shop*/
.s-left-item li {
	list-style-type: none;
	line-height: 45px;
	width: 85px;
	background: #E3E3E3;
	border-bottom: 1px solid #DDDDDD;

}
.s-left-item li a{
	line-height: 45px;

	width: 100%;
	text-decoration: none;
	color: #666666;

}
.s-left-item li a span{
	line-height: 45px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	display: inline-block;
}
.active-item span{
	line-height: 45px;
	width: 100%;
	
	margin: 0 auto;
	display: inline-block;
	background: #0850D0;
	color: #ffffff;
}
.cate-detail{
	width: 100%;
	padding-left: 10px;
}
.cate-item{
	width: 100%;
}
.tag-div{
	width: 100%;
	text-align: center;
}
.c-title{
	font-size: 12px;
	color: #343434;
	margin-top: 15px;
	margin-bottom: 8px;

}
.common-tag-text{

	text-align: center;
	font-size: 11px;
	color: #666666;
	margin: 7px 0;
}
.cate-item li{
	padding: 0;
	margin: 0;
}
.simpleCart_shelfItem{
	float: left;
}
.view{
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 6px;
	background: #F8F8F8;
	float: left;
	width: 85px;
	height: 85px;
	margin-right: 2px;
	text-align: center;
}
.ware-box img{
width: 100%;
height: 100%;
}








