/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}



table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}
.wraper{

	padding-bottom: 80px;
}
.bg_color{
	background-color: #E7E8EC;
}
.wrap{
	background-color: #EFEFEF;
}
.reset_padding{
	padding: 0;
}
.reset_margin{
	margin: 0;
}
.magin_top_10{
	margin-top: 10px;
}
.reset{
	padding: 0px;
	margin: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

/*搜索*/
.search-box{
	background: #F0F0F5;
	padding: 5px 12px;
}
.card_title{
	padding-bottom:5px;
	font-size: 16px;
	color: #2D2D2D;
}
.t_desc{
	color: #999999;
	font-size: 13px;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.search{
	
	
}
.search-text{
	color: #fff;
	background:#0850D0; 
}

.card-item {
	margin: 8px;
	padding: 8px;

}
.new-task{
	background: #E3E3E3;
	padding: 8px;
}
.rightarrow{
	float: right;
}
/*轮播图*/

.image-banner{
	margin-top: 5px;
	width: 100%;
	height: 50px;

}
.weui_btn_plain_primary_i{
	margin: 10px;
	color: #E23A3A;

	border: solid 1px #0850D0;
}
/*卡片布局*/

/*footer*/
.foot{
	height: 20px;

}
.foot-bar-div{
	width: 20%;
	line-height: 35px;
	text-align: center;
}
.foot-bar-div div{
	margin-top: 5px;
}
.foot-bar-div a{
	padding-top: 5px;
	text-decoration: none;
	font-size: 14px;
	color: #9A9A9A;
}
.activenow a{
	color: #0850D0;
}

/*shop*/
.list_title{
	
	font-size: 13px;

}
.shop_left{
	position: relative;
}
.left_area{

	position: absolute;
	float: left;
	background-color: #EDEDED;
}
.right_area{
	float: right;
}
.s-left-item{
	background-color: #DDDDDD;
}
.s-left-item li a{
	line-height: 45px;

	width: 100%;
	text-decoration: none;
	color: #666666;

}
.s-left-item li a span{
	line-height: 45px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	display: inline-block;
}
.active-item span{
	line-height: 45px;
	width: 100%;
	
	margin: 0 auto;
	display: inline-block;
	background: #0850D0;
	color: #ffffff;
}
.cate-detail{
	width: 100%;
	padding-left: 10px;
}
.cate-item{
	width: 100%;
}
.tag-div{
	width: 100%;
	text-align: center;
}
.c-title{
	font-size: 14px;
	color: #343434;
	margin-top: 15px;
	margin-bottom: 8px;

}
.common-tag-text{

	text-align: center;
	font-size: 12px;
	color: #666666;
	margin: 7px 0;
}
.cate-item li{
	padding: 0;
	margin: 0;
}
.simpleCart_shelfItem{
	float: left;
}
.view{
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 6px;
	background: #F8F8F8;
	float: left;
	width: 85px;
	height: 85px;
	margin-right: 2px;
	text-align: center;
}
.ware-box img{
	width: 100%;
	height: 100%;
}
.weui_cell_i{
	padding: 10px 10px;

}
.weui_grids_i{
	position: relative;
	overflow: hidden;
	margin: -1px -1px;
}
.weui_grid_i{
	
	position: relative;
	float: left;
	padding: 20px 10px;
	width: 33.33333333%;
	background-color: #EDEDED;
	border:solid 1px #fff;

}
.content-detail{
	position: relative;
	padding-right: 10px;
}
/*学堂*/
.gird_categry{
	margin-top: 0px;
}
.gird_item_icon{
	width: 48px;
	height: 48px;
	margin: 0 auto;
}
.gird_item_icon_res img{
	height: 73px;
	width: 117px;
	margin: 0 auto;
}
.gird_item_icon img{

	width: 48px;
	height: 48px;
	margin: 0 auto;
	border-radius: 48px;

}

.weui_grid_label {
	display: block;
	text-align: center;
	color: #000;
	font-size: 14px;
	margin-top: 8px;
}



/*购物车*/
.top_show{
	text-align: center;

}
.img_exclamation{
	height: 120px;
	margin-top: 50px;

}
.car_icon_info{
	margin-bottom: 15px;
}
.shop_car_info{
	font-size: 12px;
	color: #333333;
	margin-top: 10px;
	margin: 0 auto;
}
.btn_container{
	height: 43px;
	margin-top: 15px;
	
}
.ubtn{
	margin: 0 15px;
	background: #F3F3F3;

}
.recommand_div{
	margin: 15px;
}
.recommand{

	font-size: 12px;
	background:#ffffff;
	padding: 15px;
}
.recommand_div img{
	height: 166px;
}
.recommand_div .price{
	color: #E4393C;
	font-size: 10px;
	font-size: 12px;
}
/*我的*/
.u_head{
	height: 113px;
	background-color: #3083FB;
	text-align: center;
}
.u_head .user_head{
	margin-top: 17px;
	margin-left: 12px;
	margin-bottom: 6px;
	margin-right: 12px;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	
}
.weui-row .account_btn{
	margin-left: 12px;
	width: 60px;
	border:solid 1px #fff;
	padding: 2px;
	color: #fff;
	font-size: 11px;
	text-align: center;
}
.user_info{
	height: 60px;
	text-align: left;
	margin-top: 28px;
	font-size: 12px;
	color: #fff;
	padding: 2px;
}
.user_info .account_num{

	margin-bottom: 8px;
}
.user_info .level{
	margin-right: 10px;
	color: #FB160C;
}
.user_info .point{
	color: #FAED2D;
	font-size: 14px;
}
.center{
	background-color: #fff;
	margin-top: 15px;
	
	border-top: solid 1px #DBDBDB;

}
.mine_other{
	padding-bottom: 70px;
}
.c_title {
	font-size: 14px;
	color: #2C2C2C;
	padding: 18px 15px;

}

.next{
	margin: 10px;
}
/*项目申请*/
.p_info{
	text-align: center;
	padding: 10px;
	margin-top: 8dp;
	font-size: 17px;
	margin: 0 auto;
	color: #44B70A ;
}
/*商品信息*/

.good_info{
	background-color: #fff;
	padding: 10px;
	
}
.good_info h4{
	font-size: 16px;
	
}
.cuxiao_img{
	height: 50px;
	width: 100%;
}
.right_collect {
	text-align: center;
	border-left: solid 1px #DADADA;
}
.right_collect img{
	width: 16px;
	height: 16px;
}
.right_collect .text_collect{
	font-size: 11px;
	padding-top: 2px;
}
.price_area{
	background-color: #FCF4F2;
	height: 50px;
	padding:0 10px;
	margin-top: 15px;

}
.price_area .text_price{
	color: #E83A3B;
	float: left;
	font-size: 9px;
	line-height: 50px;
}
.price_area .price_num{
	font-size: 18px;
	font-weight: bold;
}
.price_area .comment{
	float: right;
	font-size: 12px;
	color: #B4B5B9;
	line-height: 50px;
}

.shop_icon_area .shop_icon{
	width: 90px;
	height: 30px;
	margin: 10px;
	border: solid 1px #DBDBDB;
}
.shop_icon_area .icon_area{
	width: 110px;
	float: left;
}
.shop_icon_area .shop_title{
	float: left;
	margin-top: 10px;
}
.shop_icon_area .shop_title_h{
	font-size: 14px;
	color: #2B2B2B;
	
}
.shop_icon_area .shop_title_d{
	font-size: 12px;
	color: #989898;
	
}
.shop_info_area{
	padding-bottom: 10px;
}
.shop_info_area .fannum{

	font-size: 14px;
	font-weight: bold;
	color: #2E2E2E;
}
.shop_info_area .text_fans{
	font-size: 12px;
	color: #999999;
}
.center_item{
	text-align: center;
}
.line_left{
	border-left: solid 1px #DBDBDB;
}
.shop_deal{
	padding: 10px;
}
.shop_deal .shop_btn{
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
}
.goods_wrap{
	background-color: #E7E8EC;
}

.cate_ul li{
	padding: 10px;
	color: #303030;
	text-align: center;
	font-size: 12px;
	border: solid 1px #DCDCDC;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.cate_ul li a{
	color: #303030;
	font-style: none;
}
.cate_ul .cate_li_active{
	border: solid 1px #C61503;	

}
.comment_total{
	
	font-size: 12px;
	color: #999999;
}

.comment_time{
	float: right;
	font-size: 12px;
	color: #999999;
}

.seeall{
	text-align: center;
	padding: 10px;
}
.good_detail {
	margin-top: 15px;
}
.goods_param .tablebg{
	background-color: #fff;
}
.item-detail{
	padding: 10px;
	color: #636363;
	font-size: 12px;
	line-height: 1.5em;
}
.item-detail h4{
	margin-bottom: 10px;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}
.logo_lay{
	text-align: center;
	margin: 15px;
	overflow: hidden;
}
.weui_bar_item_de{
	text-align: center;
}
.goods_tab_bar{
	text-align: center;
}
.goods_tab_bar a{
	margin-top: 5px;
	text-align: center;
	margin-bottom: 5px;
	text-decoration: none;


}
.goods_tab_bar .bar_title{
	margin-top: 5px;
	color: #636363;
	font-size: 10px;
}
.bar_t{
	line-height: 48px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;

}
.bar_t .add_shop_car{

	background-color: #FE9600;
} 
.bar_t .bug_now{
	background-color: #E23A39;
} 

/*商品列表 搜索*/
.arrow_down{
	margin-left: 5px;
	margin-top: 3px;
}
.item_price {
	padding-bottom: 5px;
}
.item_price .s_price{
	font-size: 12px;
	color: #E23A39;
	padding: 5px;
}
.item_price .s_price_down{
	color: #ffffff;
	padding: 3px;
	font-size: 11px;
	background-color: #E23A39;
}
.good_icon_lay{
	overflow:hidden;
}
.item_icon{
	width: 100%;
	height: 100%;

}
.goods_title{
	font-size: 13px;
	line-height: 16px;
	color: #343434;
}
.item_info{
	font-size: 10px;
	padding: 5px;
	color: #9B9B9B;
}
.order_item .o_btn{
	margin-left: 10px;
	padding: 3px 10px;
	width: 80px;

}
.ppstate{
	padding: 10px;
}
.p_state,.p_price{
	font-size: 10px;
	color: #5F5F5F;
	padding: 5px;
}
.p_state_text{
	color: #3585F4;
}
.p_price_text{
	color: #C53E42;
}
.p_item{
	border-top: solid 0.5px #DBDBDB; 
	padding: 0 10px 10px 10px;
	margin-left: 10px;
}
.trans_title{ 
	display: block;
	padding-left: 2px;
	font-size: 13px;
	line-height: 16px;
	color: #343434;
}
.order_item .or_shop_icon{
	height: 20px;
	width: 60px;
	margin-right: 10px;
}
.order_item .or_right_area{
	height: 15px;
	width: 10px;
	margin-left: 5px;
}
/**
 * 消费记录.consume_wraper,
 */
 .cc_wrap thead{
 	font-size: 13px;
 	line-height: 16px;
 	color: #343434;

 }
 .cc_wrap thead th{
 	text-align: center;
 }
 .cc_wrap tbody{
 	font-size: 10px;

 	line-height: 14px;
 	color: #5F5F5F;
 }
 .cc_wrap tbody tr td{
 	text-align: center;
 	padding: 5px 3px;
 }
 .consume_wraper thead{
 	font-size: 13px;
 	line-height: 16px;
 	color: #343434;

 }
 .consume_wraper thead th{
 	text-align: center;
 }
 .consume_wraper tbody{
 	font-size: 10px;

 	line-height: 14px;
 	color: #5F5F5F;
 }
 .consume_wraper tbody tr td{
 	text-align: center;
 	padding: 5px  3px;
 }

